__pycache__/
_modules/
.doctrees/
.pylint.d/
.hypothesis/
.pytest_cache/
.empty/
.spyproject/
build/
data/
dist/
docs/
olddocs/
pygmi.egg-info/
pygmi/bholes

*.py[co]
*.cmd
*.lnk
*.exe
grvmagc_*.html
.spyderproject
gittolog.sh
builddocs.py
pygmi_pypi.py
findlibs.py
log.txt
Thumbs.db
pygmi/test/2D_INV_Lines.csv
pygmi/test/2D_INV_Lines_1000m.csv
pygmi/test/2D_INV_Lines_1000m.csv
