autoapi/
_sources/
__pycache__/
_modules/
.doctrees/
.pylint.d/
.hypothesis/
.pytest_cache/
.empty/
.spyproject/
.vscode/
build/
data/
dist/
docs/
olddocs/
pygmi.egg-info/
pygmi/cgs
*.py[co]
*.lnk
*.exe
grvmagc_*.html
.spyderproject
gittolog.sh
builddocs.py
pygmi_pypi.py
findlibs.py
log.txt
err.log
flake8.txt
Thumbs.db
pygmi/test/2D_INV_Lines.csv
pygmi/test/2D_INV_Lines_1000m.csv
.env
.vscode/launch.json
cgs*.html
