__pycache__/
_modules/
.doctrees/
build/
data/
dist/
docs/
pygmi.egg-info/

*.py[co]
*.cmd
*.lnk
*.exe
grvmagc_*.html
.spyderproject
log.txt
Thumbs.db
pygmi/test/2D_INV_Lines.csv
pygmi/test/2D_INV_Lines_1000m.csv
pygmi/test/2D_INV_Lines_1000m.csv
